
.godot/editor/editor_layout.cfg
.godot/editor/filesystem_cache8
.godot/editor/main_scene.tscn-folding-626e48b6b1b45a00ea1e37d242a19387.cfg
.godot/editor/project_metadata.cfg
.godot/editor/script_editor_cache.cfg
.godot/imported/ikonka.png-a6a6afb42a40ac8ef71d096f5a3f4601.md5
.godot/imported/ikonka.svg-e1d1a09c9c763c826faf2574ba227ecd.md5
.godot/imported/pixel-speech-bubble(2).png-743ce46b0cd454a874b8ae61aa625ca1.md5
Images/ikonka.png.import
Images/ikonka.svg.import
Images/pixel-speech-bubble(2).png.import
Scenes/main_scene.tscn
Scenes/intro.tscn
project.godot
Images/pixel-speech-bubble(2).png.import
Images/ikonka.svg.import
Images/ikonka.png.import
.godot/imported/whisper3.mp3-15af6d2810d8811a6a94054252ea8b91.mp3str
.godot/imported/whisper3.mp3-15af6d2810d8811a6a94054252ea8b91.md5
.godot/imported/whisper2.mp3-2ed1c44458a86264c7d709d0834d03c5.mp3str
.godot/imported/whisper2.mp3-2ed1c44458a86264c7d709d0834d03c5.md5
.godot/imported/whisper1.mp3-6acc7be3960dd119132cab35effa0ed1.mp3str
.godot/imported/whisper1.mp3-6acc7be3960dd119132cab35effa0ed1.md5
.godot/imported/start_click.mp3-bc5c84df92e24b8be3d42f96f30e5d60.mp3str
.godot/imported/start_click.mp3-bc5c84df92e24b8be3d42f96f30e5d60.md5
.godot/imported/scream.mp3-8c5930e2d0c1b1178e17217727e3f58d.mp3str
.godot/imported/scream.mp3-8c5930e2d0c1b1178e17217727e3f58d.md5
.godot/imported/PressStart2P-Regular.ttf-b070243bfd9edf26767231e938b6246a.md5
.godot/imported/PressStart2P-Regular.ttf-b070243bfd9edf26767231e938b6246a.fontdata
.godot/imported/pixel-speech-bubble(2).png-743ce46b0cd454a874b8ae61aa625ca1.md5
.godot/imported/ikonka.svg-e1d1a09c9c763c826faf2574ba227ecd.md5
.godot/imported/ikonka.png-a6a6afb42a40ac8ef71d096f5a3f4601.md5
.godot/imported/click\[0-0-2\](1).mp3-54b39938843c62e94559fd9a150d89a5.mp3str
.godot/imported/click\[0-0-2\](1).mp3-54b39938843c62e94559fd9a150d89a5.md5
.godot/imported/background_at_start.mp3-409d560ca78be2ea5058ea509aca947e.mp3str
.godot/imported/background_at_start.mp3-409d560ca78be2ea5058ea509aca947e.md5
.godot/editor/script_editor_cache.cfg
.godot/editor/project_metadata.cfg
.godot/editor/main_scene.tscn-folding-626e48b6b1b45a00ea1e37d242a19387.cfg
.godot/editor/main_scene.tscn-editstate-626e48b6b1b45a00ea1e37d242a19387.cfg
.godot/editor/intro.tscn-folding-cb746c4d132407fc62e3e0c678ce7abe.cfg
.godot/editor/intro.tscn-editstate-cb746c4d132407fc62e3e0c678ce7abe.cfg
.godot/editor/filesystem_update4
.godot/editor/filesystem_cache8
.godot/editor/editor_layout.cfg
Images/pixel-speech-bubble(2).png.import
Images/ikonka.svg.import
Images/ikonka.png.import
.godot/imported/pixel-speech-bubble(2).png-743ce46b0cd454a874b8ae61aa625ca1.md5
.godot/imported/ikonka.svg-e1d1a09c9c763c826faf2574ba227ecd.md5
.godot/imported/ikonka.png-a6a6afb42a40ac8ef71d096f5a3f4601.md5
.godot/editor/script_editor_cache.cfg
.godot/editor/main_scene.tscn-folding-626e48b6b1b45a00ea1e37d242a19387.cfg
.godot/editor/filesystem_cache8
.godot/editor/editor_layout.cfg
