
.godot/editor/editor_layout.cfg
.godot/editor/filesystem_cache8
.godot/editor/main_scene.tscn-folding-626e48b6b1b45a00ea1e37d242a19387.cfg
.godot/editor/project_metadata.cfg
.godot/editor/script_editor_cache.cfg
.godot/imported/ikonka.png-a6a6afb42a40ac8ef71d096f5a3f4601.md5
.godot/imported/ikonka.svg-e1d1a09c9c763c826faf2574ba227ecd.md5
.godot/imported/pixel-speech-bubble(2).png-743ce46b0cd454a874b8ae61aa625ca1.md5
Images/ikonka.png.import
Images/ikonka.svg.import
Images/pixel-speech-bubble(2).png.import
